.categories {
  &__wrapper {
    display: grid;
    row-gap: $section-gap-mobile;

    @include on-tablet {
      row-gap: $section-gap-tablet;
    }
  }

  &__button {
    @include button-base;

    @include on-desktop {
      max-width: 324px;
    }
  }
}
