.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 64px;
    }
  }

  &__button {
    height: 56px;
    background-color: #292929;
    border-radius: 8px;
    cursor: pointer;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    @include on-desktop {
      max-width: 324px;
    }

    @include hover(transform, scale(0.97));

    &:hover {
      transition: all $effect-time;
      color: #292929;
      background-color: #F8F8FA;
      border: 3px solid #F0F1F4;
    }

    &:active {
      color: #fff;
      background-color: #111;

      @include hover(transform, scale(0.95));
    }
  }
}
