.category {
  &__photos {
    @include page-grid;

    margin-bottom: 16px;
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    @include absolute-cover;

    object-fit: cover;

    transition: transform $effect-time;

    @include hover(transform, scale(1.05));

    &:active {
      @include hover(transform, scale(0.95));
    }
  }

  &__title {
    @include text-h3;

    margin: 0;
  }
}
