.contacts {
  width: 100%;

  &__field {
    @include page-grid;

    gap: 80px;
  }

  &__form {
    display: grid;
    gap: 16px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__input--name,
  &__input--email,
  &__textarea {
    @include form-input;
  }

  &__input--name,
  &__input--email {
    height: 48px;
  }

  &__textarea {
    resize: none;
    height: 148px;
  }

  &__button {
    cursor: pointer;
    height: 56px;
    background-color: #292929;
    border-radius: 8px;

    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;

    @include hover(transform, scale(0.97));

    &:hover {
      transition: all $effect-time;
      color: #292929;
      background-color: #F8F8FA;
      border: 2px solid #F0F1F4;
    }

    &:active {
      color: #fff;
      background-color: #111;

      @include hover(transform, scale(0.95));
    }
  }

  &__type-of-info {
    font-size: 14px;
    line-height: 140%;
    color: #9393A3;
  }

  &__text-info {
    font-family: "Space Mono", monospace;
    text-decoration: none;
    line-height: 140%;
    color: #191919;

    @include hover(transform, scale(0.95));

    &:hover {
      transition: all $effect-time;
      color: #9393A3;
    }
  }
}
