.contacts {
  width: 100%;

  &__field {
    @include page-grid;

    gap: 80px;
  }

  &__form {
    display: grid;
    grid-column: 1 / -1;
    gap: 16px;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__info {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: 7 / -1;
    }
  }

  &__input--name,
  &__input--email,
  &__textarea {
    @include form-input;
  }

  &__input--name,
  &__input--email {
    height: $input-height;
  }

  &__textarea {
    height: $textarea-height;
    resize: none;
  }

  &__button {
    @include button-base;
  }

  &__type-of-info {
    @include text-small;

    color: $text-muted;
  }

  &__text-info {
    font-family: $font-mono;
    text-decoration: none;
    color: $text-info;

    transition: color $effect-time;

    &:hover {
      color: $text-muted;
    }
  }
}
