.header {
  background-image: url(../images/header-bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @include on-tablet {
    background-image: url(../images/header-bg-tablet.png);
  }

  @include on-desktop {
    background-image: url(../images/header-bg-desktop.png);
  }

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    color: $main-text-color;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }

  &__bottom {
    padding-bottom: 40px;

    @include on-tablet {
      padding-bottom: 65px;
    }

    @include on-desktop {
      padding-bottom: 92px;
    }
  }
}
