.icon {
  position: relative;
  display: block;

  width: $icon-size-base;
  height: $icon-size-base;

  background-size: cover;
  cursor: pointer;

  @include on-tablet {
    width: $icon-size-tablet;
    height: $icon-size-tablet;
  }

  transition: transform $effect-time;

  @include hover(transform, scale(1.2));

  &:active {
    @include hover(transform, scale(0.95));
  }

  &--phone {
    background-image: url('../images/icons/icon-phone-call.svg');

    @include on-desktop {
      &:hover {
        .icon__phone-number {
          display: block;
          opacity: 1;
        }
      }
    }
  }

  &__phone-number {
    position: absolute;
    top: 50%;
    left: -150px;
    z-index: 5;

    display: inline-block;

    padding: 8px;

    font-weight: 700;
    font-size: 12px;
    font-family: $font-secondary;
    letter-spacing: 1px;
    text-decoration: none;
    white-space: nowrap;
    color: $main-text-color;

    opacity: 0;
    transform: translateY(-50%);
    transition: opacity $effect-time;
  }

  &--menu {
    background-image: url('../images/icons/icon-burger-menu.svg');

    &:hover {
      background-image: url('../images/icons/icon-burger-menu-hover.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/icon-close.svg');
  }
}
