.main {
  background-color: $color-white;

  &__content {
    display: grid;
    row-gap: 96px;
    padding-block: $section-padding-mobile;

    @include on-tablet {
      padding-block: $section-padding-tablet;
      row-gap: 120px;
    }
  }
}
