.menu {
  box-sizing: border-box;
  height: 100vh;

  @include text-nav-link;


  background-color: $bg-menu;
  overflow: hidden;

  &__top {
    position: sticky;
    top: 0;
    z-index: 1;

    margin-bottom: 32px;
    background-color: $bg-menu;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 48px;
  }

  &__phone-number {
    @include text-body;

    display: block;
    margin-bottom: 16px;

    text-decoration: none;
    color: inherit;

    transition: opacity $effect-time;

    @include hover(opacity, 0.7);
  }

  &__call-to-order {
    @include text-body;


    display: block;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid $main-text-color;

    text-decoration: none;
    letter-spacing: 2px;
    color: inherit;

    transition: opacity $effect-time;

    @include hover(opacity, 0.7);
  }
}
