.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin: 0;
    padding: 0;

    list-style: none;
  }

  &__link {
    @include text-nav-link;

    position: relative;

    text-decoration: none;
    color: inherit;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;

      display: block;
      width: 100%;
      height: 1px;

      background-color: $main-text-color;

      transform: scale(0);
      transform-origin: left;
      transition: transform $effect-time;
    }

    &:hover::after {
      transform: scale(1);
    }
  }

  &__item {
    transition: transform $effect-time;

    @include hover(transform, scale(1.02));
  }
}
