.recommended {
  &__products {
    @include page-grid;

    gap: $section-gap-mobile $grid-gap-mobile;

    @include on-tablet {
      column-gap: $grid-gap-tablet;
    }
  }

  &__product {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / -1;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    transition: transform $effect-time;
  }
}
