.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 28px;

  @include on-tablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 16px;
    transition: transform $effect-time;

    @include on-tablet {
      height: 24px;
    }

    @include hover(transform, scale(1.2));

    &:active {
      @include hover(transform, scale(0.95));
    }
  }
}
