@mixin on-tablet() {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop() {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 72px;
  }

  @include on-desktop {
    max-width: $container-max-width;
    margin-inline: auto;
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} $effect-time;

  &:hover {
    #{$property}: $toValue;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  gap: $grid-gap-mobile;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 6;

    column-gap: $grid-gap-tablet;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin form-input {
  box-sizing: border-box;
  padding: 16px;
  background-color: $bg-light;
  border-radius: $border-radius;
  border: 1px solid transparent;

  transition:
    transform $effect-time,
    border-color $effect-time,
    background-color $effect-time;

  &:hover {
    transform: scale(0.97);
    border-color: $border-hover;
  }

  &:focus {
    outline: none;
    border-color: $main-border-color;
  }

  &:active {
    border-color: $main-border-color;
    transform: scale(0.95);
  }

  &::placeholder {
    font-family: $font-mono;
    color: $text-placeholder;
  }

  &:hover::placeholder {
    transform: scale(0.99);
    border-color: $border-hover;
    color: $main-text-color;
  }
}

@mixin text-body {
  font-size: 16px;
  line-height: 140%;
}

@mixin text-h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;

  @include on-tablet {
    font-size: 48px;
  }

  @include on-desktop {
    font-size: 56px;
  }
}

@mixin text-h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;

  @include on-tablet {
    font-size: 40px;
  }

  @include on-desktop {
    font-size: 48px;
  }
}

@mixin text-h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

@mixin text-nav-link {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

@mixin text-small {
  font-size: 14px;
  line-height: 140%;
}

@mixin button-base() {
  @include text-body;
  @include hover(transform, scale(0.97));

  height: $button-height;
  background-color: $main-text-color;
  border-radius: $border-radius;
  cursor: pointer;

  color: $color-white;
  font-weight: 700;
  border: 2px solid transparent;

  transition:
    color $effect-time,
    background-color $effect-time,
    border-color $effect-time,
    transform $effect-time;

  &:hover {
    color: $main-text-color;
    background-color: $bg-light;
    border-color: $border-light;
  }

  &:active {
    color: $color-white;
    background-color: $color-black-active;

    @include hover(transform, scale(0.95));
  }
}

@mixin absolute-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin bg-retina($file-name, $extension: 'webp') {
  background-image: image-set(
    url(../images/#{$file-name}.#{$extension}) 1x,
    url(../images/#{$file-name}-@2.#{$extension}) 2x
  );
}
