.fade-in {
  opacity: 0;
  transform: translateY(120px);
  transition:
    opacity 1.2s cubic-bezier(0.21, 0.61, 0.35, 1),
    transform 1.2s cubic-bezier(0.21, 0.61, 0.35, 1);
  will-change: opacity, transform;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
